@charset "utf-8";
* { margin:0; padding:0; list-style:none; box-sizing:border-box; }
body { background-color:#ececee; }
#wrap { width:700px; height:955px; background-color:#fff; margin:auto; min-width:700px; }
/* header */
#wrap>div:first-child { height:90px; border-bottom:1px solid #e6e6e6; padding-top:28px; }
#wrap>div:first-child h1 a { display:block; text-indent:-9999px; width:145px; height:34px; background-image:url(../img/login.png); margin:auto; background-size:cover; }

/* container */
#wrap #container_join2 { height:780px; padding:20px 40px 0px; font-family: 'Noto Sans KR' }
#wrap #container_join2 ul { width:34px; height:6px; margin:auto; }
#wrap #container_join2 ul li { width:6px; height:6px; border-radius:100%; background-color:#d4d4d4; float:left; margin-left:8px; }
#wrap #container_join2 ul li:first-child { margin-left:0; }
#wrap #container_join2 ul li:nth-child(2) { background-color:#000; }
#wrap #container_join2 h2 { sans-serif; font-size:24px; font-weight:500; color:#1e1e1e; text-align:center; height:24px; line-height:20px; margin-top:35px; }
#wrap #container_join2 h2+p { sans-serif; font-size:17px; height:17px; line-height:13px; text-align:center; margin-top:20px; color:#767676; margin-bottom:20px; }
#wrap form div:first-child { height:260px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; padding:20px 30px; }
#wrap form div:first-child span { margin-bottom:16px; margin-top:2px; }
#wrap form div:first-child span:last-child { opacity:0; }
#wrap form span { color:#be1e2d; font-size:11px; margin-left:130px; display:block; }
#wrap form div:first-child label:first-child { margin-top:13px; }
#wrap form div:first-child label:last-child { margin-top:17px; }
#wrap form div:nth-child(2) { height:260px; border-bottom:1px solid #e6e6e6; padding:20px 30px;  }
#wrap form div:nth-child(2) label:first-child { margin-top:15px; }
#wrap form div:nth-child(2) label:nth-child(3) { margin-top:12px; }
#wrap form div:nth-child(2) label:first-child { margin-bottom:18px; }
#wrap form div:nth-child(2) label:nth-child(1)+span { margin-top:-16px; opacity:0; }
#wrap form div:nth-child(2) label:nth-child(3)+span { margin-bottom:15px;margin-top:2px; }
#wrap form p { font-size:14px; color:#1e1e1e; width:98px; float:left;height:41px; line-height:40px; }
#wrap form div:nth-child(2) label:nth-child(5) p { line-height:19px; padding-top:1px; }
#wrap form div:nth-child(2) label:nth-child(5)+span { margin-top:2px; opacity:0; }
#wrap form div:nth-child(2)+span { display:block; width:300px; height:100px; border:1px solid red; position:absolute; }
#wrap form label { display:block; width:100%; height:41px; }
#wrap form label input { height:40px; width:430px; float:right; padding-left:12px; border:1px solid #d4d4d4; outline:none;}
#wrap form label input::placeholder { color:#999; }
#wrap form #bt { width:220px; height:60px; background-color:#999; color:#fff; margin: 32px auto 0; display:block; border:none; font-size:18px;  }
#wrap form #bt:hover { cursor:pointer; }
#wrap fieldset { border:none; }
/* footer */
#wrap div:last-child { border-top:1px solid #e6e6e6; }
#wrap div:last-child p { text-align:center; color:#9f9f9f; margin-top:40px; height:12px; font-size:12px; font-family:Dotum,돋움; line-height:10px; }
footer { display:none; }

